.flip.active {
    transform: rotateY(180deg);
}

.flip {
    transform-style: preserve-3d;
    transition: all .5s;
    display: flex;
    justify-content: center;
    width: 138px;
    height: 168px;
}